  <aside class="bg-dark">
      <div class="container text-center">
          <div class="call-to-action">
              <h2>No pierdas la oportunidad de explorar la Universidad de Alicante como nunca antes. ¡UAPoly está disponible en la tienda del campus y en línea!</h2>
              <h4>UAPoly, de estudiantes, para estudiantes.</h4>
              <div>
                <iframe width="560" height="315" src="https://www.youtube.com/watch?v=7ximrIBbpH8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
              <div>
                <a class="btn btn-default btn-xl wow tada" style="visibility: visible; animation-name: tada;" href="/src/UAPoly.zip" download="UAPoly.zip">Descargar juego</a>
              </div>
          </div>
      </div>
  </aside>
