<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Descubre más sobre nuestro proyecto</h2>
                <hr class="light">
                <p class="text-faded">En UAPoly, recorrerás los pasillos de la Biblioteca General, invertirás en la Residencia de Estudiantes y competirás por adquirir el emblemático Aulario II. ¿Quién será el primero en construir su imperio universitario? Conviértete en el magnate del campus mientras disfrutas con tus amigos.</p>
                <p class="text-faded">Este no es solo un juego, es una experiencia. Cada casilla te brinda la oportunidad de conocer más sobre tu entorno universitario, desde la cafetería más popular hasta el centro de investigación más avanzado. Y no te preocupes si caes en la casilla de “Multa de aparcamiento”, ¡forma parte de la diversión!</p>
                <a href="#" class="btn btn-default btn-xl">¡No olvides probar nuestra demo!</a>
            </div>
        </div>
    </div>
</section>
