<header>
    <div class="header-content">
        <div class="header-content-inner">
            <div class="top-content">
                <h3>UAGames Proyect presenta...</h3>
                <h1>UAPOLY</h1>
                <hr>
            </div>
            <div>
                <img src="/img/image.png"> 
            </div>
            <div class="bottom-content">
                <p>¿Eres estudiante de la Universidad de Alicante y buscas una forma divertida de familiarizarte con el campus? ¡Tenemos justo lo que necesitas! UAPoly es el juego de mesa perfecto que combina entretenimiento y aprendizaje sobre los edificios y servicios de nuestra universidad.</p>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Descarga aquí UAPoly</a>
            </div>
        </div>
    </div>
</header>
