<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">UApoly es ideal para...</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Reuniones con amigos</h3>
                    <p class="text-muted">Unas partidas casuales antes de clase o una larga tarde de entretenimiento, ¡las posibilidades son infinitas!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Actividades de bienvenida para nuevos estudiantes</h3>
                    <p class="text-muted">Tanto viejos como nuevos estudiantes, en especial los nuevos, podrán descubrir una infinidad de servicios ofrecidos por la Universidad de Alicante.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Conocer todos los rincones del campus de una manera interactiva y entretenida</h3>
                    <p class="text-muted">¿Cuántos aularios tiene la UA? ¿Conoces la óptica universitaria? ¿Qué es una Escuela Politécnica Superior? ¡Eso y más conforman nuestro tablero!</p>
                </div>
            </div>
        </div>
    </div>
</section>
